@import "tailwindcss";

:root {
  --bg-main: #0D1117;
  --bg-sidebar: #161B22;
  --bg-hover: #2d333c;
  --bg-card: #1C2128;
  --text-primary: #C9D1D9;
  --text-secondary: #8B949E;
  --accent: #2F81F7;
  --success: #3FB950;
  --danger: #F85149;
  --border: #30363D;
}

@theme inline {
  --color-background: var(--bg-main);
  --color-foreground: var(--text-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--bg-main);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

.cl-avatarBox {
  width: 2.3rem;
  height: 2.3rem;
}